<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <base href="/">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
  <title>Pizza Maker</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
</head>

<body>

  <app-root></app-root>

  <script type="text/javascript" src="/static/inline.bundle.js"></script>
  <script type="text/javascript" src="/static/polyfills.bundle.js"></script>
  <script type="text/javascript" src="/static/styles.bundle.js"></script>
  <script type="text/javascript" src="/static/vendor.bundle.js"></script>
  <script type="text/javascript" src="/static/main.bundle.js"></script>
</body>
</html>